@import "../../global.scss";

.BarArea{
    text-align: center;
    li{
        font-size: 15px;
        margin-right: 25px;
        margin-left: 25px;
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
    
        &.active{
            background-color: $mainColor;
            color: white;
        }
    }
}
