.contact{
    background-color: white;
    display: flex;
    flex-direction: row;

    .leftcontainer, .leftcontainer-hidden{
        flex: 6;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff39c;
        transition: all 1s ease;
        overflow-y: hidden;

        .timer{
            flex: 6;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .left{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .words{
                    font-size: 30px;
                    font-family: sans-serif;
                }

                .bigTimer{
                    font-size: 100px;
                    font-family: sans-serif;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
            .right{
                flex: 1;
                align-items: center;
                justify-content: center;
                .gifcontainer{
                    .gif{
                        width: 100%;
                        height: 100%;
                        object-fit: scale-down;
                    }
                }
            }
        }

        .suggesstions, .suggesstions-hidden{
            flex: 4;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 1s ease;

            .SugWords{
                font-size: 50px;
                font-family: sans-serif;
            }

            .words{
                font-size: 30px;
                font-family: sans-serif;
            }
        }

        .suggesstions {
            bottom: 0px;
            opacity: 100%;
        }

        .suggesstions-hidden {
            bottom: -100%;
            opacity: 0%;
        }
    }

    .rightcontainer, .rightcontainer-hidden{
        flex: 4;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;

        form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2{
                font-size: 30px;
                margin-bottom: 35px;
            }

            input{
                width: 300px;
                height: 30px;
                font-size: 20px;
                margin-bottom: 15px;
            }

            textarea{
                width: 300px;
                height: 200px;
                font-size: 14px;
                margin-bottom: 35px;
            }

            button{
                width: 300px;
                height: 60px;
                color: white;
                background: linear-gradient(to right, green 50%, crimson 50%) right;
                background-size: 200%;
                transition: 0.5s ease-out;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                margin-bottom: 35px;

                &:focus{
                    outline: none;
                }
            }

            button:hover {
                background-position: left;
            }

            span {
                color: green;
                text-align: center;
            }
        }
    }

    .leftcontainer {
        left: 0px;
        opacity: 100%;
    }

    .leftcontainer-hidden {
        left: -300px;
        opacity: 0%;
    }

    .rightcontainer {
        right: 0px;
        opacity: 100%;
    }

    .rightcontainer-hidden {
        right: -100%;
        opacity: 0%;
    }
}